extends layout

block content
  h1= title
  p Welcome to i dont knowww

  // Loop through the ids array and display its contents
  each id in ids
    p ID: #{id.id}, Description: #{id.description}

  // Create a button that links to localhost/3000/about
  a(href='/about') press me to come to new ids

  form(action='/about/add-id', method='POST' id="form")
    label(for='idDescription') New ID Description:
    input(type='text', name='idDescription', id='idDescription', required)
    button(type='submit') Create New ID